* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: new-order, sans-serif;
}

@media (max-width: 768px) {
    html {
        font-size: 6px;
    }
}

h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 2vw;
    line-height: 5vw;
    display: inline-block;
    align-items: center;
    color: #000000;
}

h2 {
    font-weight: normal;
    font-size: 2vw;
    line-height: 5vw;
    display: inline-block;
    align-items: center;
    color: #000000;
}

h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 1.75vw;
    line-height: 3vw;
    display: inline-block;
    align-items: center;
    color: #000000;
}

h4 {
    font-style: normal;
    font-size: 1.75vw;
    line-height: 3vw;
    display: inline-block;
    align-items: center;
    color: #000000;
}

h5 {
    font-style: normal;
    font-weight: normal;
    font-size: 1.5vw;
    line-height: 2.5vw;
    display: inline-block;
    align-items: center;
    color: #000000;
}

h6 {
    font-style: normal;
    font-weight: 200;
    font-size: 1.5vw;
    line-height: 2.5vw;
    display: inline-block;
    align-items: center;
    color: #000000;
}

p {
    font-style: normal;
    font-weight: normal;
    font-size: 1.25vw;
    line-height: 1.5vw;
    display: inline-block;
    align-items: center;
    color: #000000;
}

@media (max-width: 768px) {
    h1, h2 {
        font-size: 3.5rem;
        line-height: 7rem;
    }

    h3, h4 {
        font-size: 3rem;
        line-height: 5rem;
    }

    h5, h6 {
        font-size: 2.75rem;
        line-height: 4rem;
    }

    p {
        font-size: 2.5rem;
        line-height: 3rem;
    }
}

a:link {
    color: #1C5375;
    text-decoration: none;
}

a:hover{
    color: #1C5375;
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
}

a:visited {
    color: #A25D35;
}

.navbar {
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: white;
    padding: 16px 32px;
}

.navContainer {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menu {
    z-index: 2;
}
  
#menu-bar {
    width: 45px;
    height: 40px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
}

.bar {
    height: 5px;
    width: 100%;
    background-color: #637154;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1 {
    transform: translateY(-10px);
}

#bar3 {
    transform: translateY(10px);
}

.nav {
    transition: 0.3s ease;
    display: none;
}

.nav ul {
    padding: 0 22px;
}

.nav li {
    list-style: none;
    padding: 12px 0;
}

.nav li a {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
}

.nav li a:hover {
    color: #F9AE50;
}

.menu-bg, #menu {
    top: 0;
    left: 0;
    position: absolute;
}

.menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: radial-gradient(circle, #637154, #637154);
    border-radius: 50%;
    transition: 0.3s ease;
}

.change {
    display: block;
}

.change .bar {
    background-color: white;
}

.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
    opacity: 0;
}

.change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
    width: 572px;
    height: 506px;
    transform: translate(-60%,-30%);
}

.nav #currentPage {
    color: #F9AE50;
}

.logo {
    max-width: 50px;
    display: flex;
    cursor: pointer;
}

.fullLogo {
    max-width: 13vw;
    top: 25px;
    left: 3%;
    position: fixed;
    cursor: pointer;
}

.largeCenter {
    display: inline-block;
}

.largeNavbar {
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    width: 100%;
    background-color: white;
    padding: 16px 32px;
}

.pageLinks {
    text-align: center;
    margin-top: 20px;
}

.pageLinks a {
    color: #000000;
    font-style: medium;
    font-size: 2vw;
    text-decoration: none;
    margin-right: 25px;
    margin-left: 25px;
}

.pageLinks a:hover {
    color: #637154;
}

.largeCenter .pageLinks #currentPage {
    color: #637154;
    font-weight: bold;
}

.largeMenuBar {
    margin-top: 20px;
    height: 2px;
    width: 100%;
    background-color: #000000;
    display: block;
    border-radius: 5px;
}


@media (max-width: 768px) {
    .navbar {
        display: block;
    }

    .largeNavbar {
        display: none;
    }
}


@media (min-width: 768px) {
    .navbar {
        display: none;
    }

    .largeNavbar {
        display: block;
    }
}

.centerFlexRowsTOP {
    padding-top: 125px;
    padding-left: 10%;
    height: 45vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 768px) {
    .centerFlexRows {
        padding-top: 325px;
    }
}

.leftFlexItem {
    width: 90%;
    margin: 10px;
    text-align: left;
}

.centerFlexRows {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
}

.centerFlexColumns {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexTitle {
    text-align: center;
    width: 100%;
}

.flexImg {
    width: 42vw;
}

.centerFlexRowsMiddle {
    padding-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
    height: 55vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#beigeBackground {
    background-color: #FFF5E2;
}

#blackBackground {
    background-color: #000000;
}

#whiteTextColor {
    color: #FFFFFF;
}

.fullPageImg {
    padding: 5%;
    width: 90vw;
}


  
  
.container {
max-width: 400px;
width: 100%;
margin: 0 auto;
position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
background: #F9F9F9;
padding: 25px;
margin: 150px 0;
box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
display: block;
font-size: 30px;
font-weight: 300;
margin-bottom: 10px;
}

#contact h4 {
margin: 5px 0 15px;
display: block;
font-size: 13px;
font-weight: 400;
}

fieldset {
border: medium none !important;
margin: 0 0 10px;
min-width: 100%;
padding: 0;
width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
width: 100%;
border: 1px solid #ccc;
background: #FFF;
margin: 0 0 5px;
padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
-webkit-transition: border-color 0.3s ease-in-out;
-moz-transition: border-color 0.3s ease-in-out;
transition: border-color 0.3s ease-in-out;
border: 1px solid #aaa;
}

#contact textarea {
height: 100px;
max-width: 100%;
resize: none;
}

#contact button[type="submit"] {
cursor: pointer;
width: 100%;
border: none;
background: #1C5375;
color: #FFF;
margin: 0 0 5px;
padding: 10px;
font-size: 15px;
}

#contact button[type="submit"]:hover {
background: #1C5375;
-webkit-transition: background 0.3s ease-in-out;
-moz-transition: background 0.3s ease-in-out;
transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
text-align: center;
}

#contact input:focus,
#contact textarea:focus {
outline: 0;
border: 1px solid #aaa;
}

::-webkit-input-placeholder {
color: #888;
}

:-moz-placeholder {
color: #888;
}

::-moz-placeholder {
color: #888;
}

:-ms-input-placeholder {
color: #888;
}

.aboutMePage {
    padding: 10% 5% 5% 5%;
    height: 45vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}












