p {
    font-size: 20px;
    font-style: normal;
    font-family: Proxima Nova, sans-serif;
    text-align: left;
}

h1 {
    color: #0f0824;
    font-size: 60px;
    font-style: normal;
    font-family: Proxima Nova, sans-serif;
    text-align: left;
}

#test-id-1{
    color: #160154;
    font-size: 40px;
    font-style: normal;
    font-family: Proxima Nova, sans-serif;
    text-align: center;

}

.testClass{
    color: #447180;
    font-size: 28px;
    font-style: italic;
    font-family: Proxima Nova, sans-serif;
    text-align: center;
}

a:link {
    color: #FF4000;
    text-decoration: none;
}

a:hover{
    color: #FF4000;
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
}

a:visited {
    color: #782B12;
}


